.navbar-brand {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 300px;
    border: 250px;
    font-size: 40px;
}

.repo {
    margin-left: 200px;
    color: white;
    font-size: 17px;
    position: fixed;
}

.user {
    color: white;
    font-size: 17px;
    margin-left: 30px;
}